body {
    margin: 0;
    padding: 0;
}

.flex_container {
    display: flex;
    height: 100vh;
}

.flex_container div {
    flex: 1;
}

.flex_container .right_side {
    flex: 2;
    background-color: rgb(247, 221, 247);
}

.flex_container .image_section {
    background-image: url(twilight.webp);
    background-size: cover;
    background-position: left;
}

.form_section {
    background-color: aliceblue;
    padding: 50px;
}

input {
    appearance: none;
}

p {
    display: flex;
    flex-direction: column;
}

.row_1,
.row_2,
.row_3 {
    display: flex;
    gap: 10px;
}